*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    flex-wrap: wrap;
}

header {
    padding: 20px;
    text-align: center;
} 

main {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80vh;
}

.container {
    min-width: 500px;
    min-height: 500px;
    border: 5px solid;
    display: flex;
    flex-wrap: wrap;
    position: relative;
    justify-content: center;
    flex-direction: column;
    background-color: #f2f3f3;
    margin: 0 auto;
    }

.container * {
    position: absolute;
}

.darkmode{
    background-color: #C2FBD7;
    border-radius: 50px;
    border-width: 0;
    box-shadow: rgba(25, 25, 25, 0.04) 0 0 1px 0, rgba(0, 0, 0, 0.1) 0 3px 4px 0;
    color: #008000;
    cursor: pointer;
    display: inline-block;
    font-family: Arial, sans-serif;
    font-size: 1em;
    height: 50px;
    padding: 0 25px;
    transition: all 200ms;
      
}



.squareRed {
    width: 75px;
    height: 75px;
    background-color: #DB4545;
}

.triangleGreen {
    width: 0;
    height: 0;
    border-bottom: 107px solid green;
    border-right: 107px solid transparent;
}

.triangleOrange {
    width: 0;
    height: 0;
    border-bottom: 53px solid #D9B262;
    border-left: 53px solid transparent;
    border-right: 53px solid transparent;
}

.triangleYellow {
    width: 0;
    height: 0;
    border-top: 150px solid transparent;
    border-right: 150px solid yellow;
}

.trapezePurple {
    width: 104px; 
    height: 53px; 
    background-color: #b700ff; 
    transform: skew(315deg);
}

.triangleLime {
    width: 0;
    height: 0;
    border-top: 150px solid transparent;
    border-right: 150px solid #56DBA0;
}

.triangleBlue {
    width: 0;
    height: 0;
    border-top: 53px solid transparent;
    border-bottom: 53px solid transparent;
    border-left: 53px solid #1AA6D9;
}

/* .container div {
    display: none; Cacher toutes les figures par défaut
}
 */
/* .container div.show {
    display: block; Afficher uniquement les figures avec la classe 'show'
} */
