*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    flex-wrap: wrap;
}

header {
    padding: 20px;
    text-align: center;
} 

main {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80vh;
}

.container {
    min-width: 500px;
    min-height: 500px;
    border: 5px solid;
    display: flex;
    flex-wrap: wrap;
    position: relative;
    justify-content: center;
    flex-direction: column;
    background-color: #f2f3f3;
    margin: 0 auto;
    }

.container * {
    position: absolute;
}


.squareRed {
    width: 75px;
    height: 75px;
    background-color: red;
}

.triangleGreen {
    width: 0;
    height: 0;
    border-bottom: 107px solid green;
    border-right: 107px solid transparent;
}

.triangleOrange {
    width: 0;
    height: 0;
    border-bottom: 53px solid orange;
    border-left: 53px solid transparent;
    border-right: 53px solid transparent;
}

.triangleYellow {
    width: 0;
    height: 0;
    border-top: 150px solid transparent;
    border-right: 150px solid yellow;
}

.trapezePurple {
    width: 104px; 
    height: 53px; 
    background-color: #b700ff; 
    transform: skew(315deg);
}

.triangleLime {
    width: 0;
    height: 0;
    border-top: 150px solid transparent;
    border-right: 150px solid #84f998;
}

.triangleBlue {
    width: 0;
    height: 0;
    border-top: 53px solid transparent;
    border-bottom: 53px solid transparent;
    border-left: 53px solid #84c2f9;
}