.squareRed {
    width: 75px;
    height: 75px;
    background-color: red;
    transform: rotate(45deg);
    left: 36%;
    top: 43.5%;
    z-index: 5000;
}

.triangleGreen {
    width: 0;
    height: 0;
    border-bottom: 100px solid green;
    border-right: 100px solid transparent;
    position: absolute;
    transform: rotate(90deg);
    top: 33%;
    left: 10%;
}

.triangleOrange {
    width: 0;
    height: 0;
    border-bottom: 53px solid orange;
    border-left: 53px solid transparent;
    border-right: 53px solid transparent;
    position: absolute;
    transform: rotate(180deg);
    top: 41%;
    left: 41.9%;
}

.triangleYellow {
    width: 0;
    height: 0;
    border-top: 150px solid transparent;
    border-right: 150px solid yellow;
    position: absolute;
    transform: rotate(135deg);
    left: 55%;
}

.trapezePurple {
    width: 105px; 
    height: 50px; 
    background-color: #b700ff; 
    transform: skew(315deg);
    position: absolute;
    top: 33%;
    left: 46%;
}

.triangleLime {
    width: 0;
    height: 0;
    border-top: 150px solid transparent;
    border-right: 150px solid #84f998;
    position: absolute;
    transform: rotate(225deg);
    z-index: 8000;
    top: 55%;
}

.triangleBlue {
    width: 0;
    height: 0;
    border-top: 53px solid transparent;
    border-bottom: 53px solid transparent;
    border-left: 53px solid #84c2f9;
    position: absolute;
    transform: rotate();
    left: 33.6%;
    top: 49.9%;
}